:host {
  .pet-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    .headshot {
      flex-basis: 30%;
      max-width: 80%;
      max-height: 30%;
      flex-grow: 0;
      flex-shrink: 0;
      min-height: 0px;
      min-width: 0px;

      > img {
        max-height: 100%;
        max-width: 100%;
      }
    }

    .selections {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: fixed;
      bottom: 0;
      margin-bottom: 3em;

      > a {
        height: 2.5em;
        margin: 1em;
      }
    }
  }
}