<p class="text-stuf">
    Homeward Pet Adoption Center is a no-kill animal shelter located in Woodinville, Washington that placed over 1,800 animals into homes during 2016. They also have the following programs
</p>
<ul>
    <li>Adoption</li>
    <li>Rescue</li>
    <li>Veterinary Care</li>
    <li>Training and Behavior</li>
    <li>Volunteering and Foster Care</li>
    <li>Community Programs</li>
    <li>Continued Care</li>
</ul>
<div class="icon-row">
    <a class="fa fa-envelope-square fa-4x" href="http://visitor.r20.constantcontact.com/d.jsp?llr=mpwty5eab&p=oi&m=1104839039468"> </a>
    <a class="fa fa-facebook-square fa-4x" href="https://www.facebook.com/homewardpet"> </a>
    <a class="fa fa-twitter-square fa-4x" href="https://twitter.com/HomewardPet"> </a>
    <a class="fa fa-instagram fa-4x" href="https://www.instagram.com/homeward_pet/"> </a>
    <a class="fa fa-pinterest-square fa-4x" href="https://www.pinterest.com/homewardpet/"></a>
</div>
