:host{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  .text-stuf {
    margin-left: 1em;
    margin-right: 1em;
  }

  .icon-row {
    position: fixed;
    bottom: 0;
    margin-bottom: 3px;
    display: flex;

    >a {
      color: black;
      margin: 0.2em;
    }
  }
}