:host{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;

  .map {
    margin-top: 90%;
    flex-basis: 40%;
    width: 100%;
  }

  .icon-row {
    position: fixed;
    bottom: 0;
    margin-bottom: 3px;
    display: flex;

    >i {
      margin: 0.2em;
    }
  }
}