<div class="container">
    <div class="header">
        <h3>About You</h3>
    </div>
    <div class="content">
        <p>In my house there are:</p>
        <span class="check">
            <input type="checkbox" [(ngModel)]="choiceService.hasDogs">
            <span>Dogs</span>
        </span>
        <span class="check">
            <input type="checkbox" [(ngModel)]="choiceService.hasCats">
            <span>Cats</span>
        </span>
        <span class="check">
            <input type="checkbox" [(ngModel)]="choiceService.hasChildren">
            <span>Kids</span>
        </span>
        <div class="continue">
            <button class="btn btn-outline-primary" routerLink="/match">Continue</button>
        </div>
    </div>
</div>