/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

$hpac-blue: #0b94ce;
$hapc-brown: #62270f;
$hpac-orange: #f15a22;
$hpac-purple: #a5298e;
$hpac-green: #54b949;

p,h1,h2,h3,h4 {
  font-family: Arial;
}

.btn {
  background-color: $hpac-blue !important;
  color: white !important;
}